body {
  background-color: lightblue;
  color: black;
}
.sideBody {
  margin-top: 50px;
  padding: 10px;
  display: flex-block;
}
.mainBody {
  margin-top: 50px;
  padding: 10px;
  display: flex-block;
  align-content: left;
}
.table {
  width: 100% !important;
}

#tableSystemList {
  width: 100% !important;
  font-size: 16px;
}

