<!--<h3>Home.html</h3>-->
<div class="col-l-4 text-center center-block" id="homeScreen">

<!-- center-block
  
  <button type="button" class="btn">Log In</button>

<button type="button" class="btn">Enter</button>

<button type="button" class="btn">App Information</button>-->

<a href="#!login" class="btn">Log In</a>

<a href="#!mainpage" class="btn">Enter<br>Adaptable<br>PM</a>

<a href="#!home" class="btn">Home</a>


<!--<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>-->

</div>
