<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AdaptablePM_Login</title>

  </head>
  <body id="loginBody">
    <!-- {{lc}} -->
    <div class="btn-group">

<p><input type="text" placeholder="Please enter a PM ID" value="">
  <button type="button" id="pmIdButton" class="btn btn-primary">Submit</button></p>

<p><h3>Please Choose a Login Account</h3></p>
<br>
<p><button type="button" id="googlebutton" class="btn btn-primary">Google</button></p>

    </div>
  </body>
</html>


<!-- Single button -->
 <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Action <span class="caret"></span>
 </button>
 <ul class="dropdown-menu">
   <li><a href="#">Action</a></li>
   <li><a href="#">Another action</a></li>
   <li><a href="#">Something else here</a></li>
   <li role="separator" class="divider"></li>
   <li><a href="#">Separated link</a></li>
 </ul>
</div> -->
