<!--<h3>mainpage.html</h3>-->
<!-- NOTE: Navigation Header Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- NOTE: make nav bar full width -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <!--<a class="navbar-brand" href="#">Adaptable PM</a>-->
      <a class="navbar-brand nav-link" href="#">Adaptable PM<span class="sr-only">(current)</span></a>
      
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Residential<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:5500/#!/mainpage/#">Residence_Vacation</a></td>
              <li><a href="http://localhost:5500/#!/mainpage/">Residence_03</a></li>
              <li><a href="http://localhost:5500/#!/mainpage/">Residence_04</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="http://localhost:5500/#!/mainpage/">Residence_Main</a></li>
          </ul>
          </li>
          <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vehicles<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="www.google.com">Auto number01</a></li>
              <li><a href="#">Auto number02</a></li>
              <li><a href="#">Auto number03</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Motorcycle</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Professional<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="www.google.com">Professional_01</a></li>
              <li><a href="#">Professional_Rental_Residential</a></li>
              <li><a href="#">Professional_Rental_Commercial</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Professional_Office</a></li>
            </ul>
          </li>
      </ul>-->

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Name<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="www.google.com">Profile</a></li>
            <li><a href="#">Switch User</a></li>
            <li><a href="#">Add a User</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!--<div class="container">-->




<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-2 sideBody">
      <div ng-include="'/views/systemlist.html'"></div>
    </div>
    <div class="col-xs-10 mainBody">
      <!--AngularJS HTML Pages brought in-->
      <div ng-include="'/views/nameplate.html'"></div>
      <div ng-include="'/views/systemhistory.html'"></div>
      <div ng-include="'/views/business.html'"></div>
      <div ng-include="'/views/usernotes.html'"></div>
    </div>
  <!--</div>-->
</div>