<!--<h3>mainpage.html</h3>-->
<!-- NOTE: Navigation Header Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- NOTE: make nav bar full width -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">

      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="http://localhost:5500/#!/mainpage/">Adaptable PM</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="http://localhost:5500/#!/mainpage/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Residential<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:5500/#!/mainpage/">Main Residence</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://mnprairieroots.files.wordpress.com/2010/06/copy-of-garage-stars-stripes-1.jpg?w=799&h=533">Garage</a></li>
            <li><a href="http://localhost:5500/#!/mainpage/">Vacation Cabin</a></li>
            <li><a href="https://cbsminnesota.files.wordpress.com/2013/10/crop_down19.jpg?w=610&h=490">In-Laws House</a></td>
          </ul>
          </li>
          <li class="dropdown">
            <a href="http://localhost:5500/#!/mainpage/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Vehicles<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.dl-online.com/sites/default/files/styles/16x9_620/public/field/image/11-20-Redneck-Parade-Winners.jpg?itok=F73w2EGf">Auto #01</a></li>
              <li><a href="http://localhost:5500/#!/mainpage/">Auto #02</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="http://localhost:5500/#!/mainpage/">Boat</a></li>
              <li><a href="http://localhost:5500/#!/mainpage/">Motorcycle</a></li>
              <li><a href="http://www.dji.com/">DGI Drone</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="http://localhost:5500/#!/mainpage/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Professional<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://localhost:5500/#!/mainpage/">Main Office Bldg</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="http://mobilehomeliving.org/wp-content/uploads/redneck-mansion.jpg">Rental_Apartment Bldg</a></li>
              <li><a href="http://localhost:5500/#!/mainpage/">Rental_Office Bldg</a></li>
            </ul>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="http://localhost:5500/#!/mainpage/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">User Name<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://s-media-cache-ak0.pinimg.com/736x/47/31/e5/4731e55b660fa153e9406503630de090.jpg">Profile</a></li>
            <li><a href="http://localhost:5500/#!/mainpage/">Switch User</a></li>
            <li><a href="http://localhost:5500/#!/mainpage/">Add a User</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://localhost:5500/#!/mainpage/">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!--<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-3">
      <div class="list-group">-->
<!-- <a href="#" class="list-group-item"><h2>System List</h2></a> -->
<!--<h3 class="list-group-item-info">System List</h3>
        <a href="https://www.google.com" class="list-group-item">Air Conditioning</a>
        <a href="#" class="list-group-item">Audio / Visual</a>
        <a href="#" class="list-group-item">Communication</a>
        <a href="#" class="list-group-item">Computer-Networking</a>
        <a href="#" class="list-group-item">Doors / Windows</a>
        <a href="#" class="list-group-item">Electrical</a>
        <a href="#" class="list-group-item">Emergency</a>
        <a href="#" class="list-group-item">Foundation</a>
        <a href="#" class="list-group-item">Furnace</a>
        <a href="#" class="list-group-item">Furniture</a>
        <a href="#" class="list-group-item">Hot Water Heater</a>
        <a href="#" class="list-group-item">Heating and Ventilation</a>
        <a href="#" class="list-group-item">Insulation</a>
        <a href="#" class="list-group-item">Kitchen Appliances</a>
        <a href="#" class="list-group-item">Lighting</a>
        <a href="#" class="list-group-item">Mechanical_Misc</a>
        <a href="#" class="list-group-item">Monitoring & Safety</a>
        <a href="#" class="list-group-item">Paint</a>
        <a href="#" class="list-group-item">Potable Water</a>
        <a href="#" class="list-group-item">Roof</a>
        <a href="#" class="list-group-item">Sewage</a>
        <a href="#" class="list-group-item">...add new system</a>
      </div>
    </div>
  </div>
</div>-->
<div class="col-xs-12">
  <div class="row">
    <!--<div class="col-lg-1 col-m-1 col-sm-1 col-xs-1 sideBody">-->
    <!--<div class="col-lg-2 col-m-2 col-sm-2 col-xs-2 sideBody">-->
    <div class="col-xs-3 sideBody">
      <div ng-include="'/views/systemlist.html'"></div>
    </div>
    <!--</div>
    <div class="row">-->
    <div class="col-xs-9 mainBody">
      <!--AngularJS HTML Pages brought in-->
      <div ng-include="'/views/nameplate.html'"></div>
      <div ng-include="'/views/systemhistory.html'"></div>
      <div ng-include="'/views/business.html'"></div>
      <div ng-include="'/views/usernotes.html'"></div>
      <!--http://stackoverflow.com/questions/33022900/how-can-i-use-bootstraps-grid-columns-to-set-the-width-of-x-editable-inputs-->
    </div>
  </div>
</div>