<div ng-controller="NameplateController as nc">
  <!-- Need when using multiple controllers on 1 html page -->
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Nameplate Data</h3></div>
    <!--<div class="table-responsive">-->
    <!--<table class="table table-striped">-->
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Manufacturer</th>
          <th>Model Number</th>
          <th>Serial Number</th>
          <th>Date-of-Manufacture</th>
          <th>Voltage</th>
          <th>Notes</th>
        </tr>
        <tr>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <form id="nameplateForm" class="form-inline">
              <td><input ng-model="nc.newNameplate.manufacturer" class="form-control" placeholder="Manufacturer"></td>
              <td><input ng-model="nc.newNameplate.model_number" class="form-control" placeholder="Model Number"></td>
              <td><input ng-model="nc.newNameplate.serial_number" class="form-control" placeholder="Serial Number"></td>
              <td><input ng-model="nc.newNameplate.date_of_manufacturer" placeholder="Date-of-Manufacturer"></td>
              <td><input ng-model="nc.newNameplate.input_voltage" class="form-control" placeholder="Volts"></td>
              <td><input ng-model="nc.newNameplate.other_notes" class="form-control" placeholder="Other Data"></td>
          </div>
        </tr>
        <tr>
          <td><button ng-click="nc.addNameplate()" type="submit" class="btn btn-primary">Add a New Nameplate</button></td>
        </tr>
        </form>
        </div>
      </thead>
      <tbody>
        <!--REPEAT-->
        <tr ng-repeat="nameplate in nc.arrayList.list">
          <!--This is the line of code Kris helped with-->
          <!--'Submit via onaftersave'' located https://vitalets.github.io/angular-xeditable/#editable-form-->
          <td>
            <div> <a href="#" editable-text="nameplate.manufacturer" onaftersave="nc.editNameplate(nameplate)" e-placeholder="Manufacturer">{{ nameplate.manufacturer || " " }} </a></div>
          </td>
          <td>
            <div> <a href="#" editable-text="nameplate.model_number" onaftersave="nc.editNameplate(nameplate)" e-placeholder="Model Number">{{ nameplate.model_number || " " }} </a></div>
          </td>
          <td>
            <div> <a href="#" editable-text="nameplate.serial_number" onaftersave="nc.editNameplate(nameplate)" e-placeholder="Serial Number">{{ nameplate.serial_number || " " }} </a></div>
          </td>
          <td>
            <div> <a href="#" editable-text="nameplate.date_of_manufacturer" onaftersave="nc.editNameplate(nameplate)" e-placeholder="Date-of-Manufacturer">{{ nameplate.date_of_manufacturer || " " }} </a></div>
          </td>
          <td>
            <div> <a href="#" editable-text="nameplate.input_voltage" onaftersave="nc.editNameplate(nameplate)" e-placeholder="Input Voltage">{{ nameplate.input_voltage || " " }} </a></div>
          </td>
          <td>
            <div> <a href="#" editable-text="nameplate.other_notes" onaftersave="nc.editNameplate(nameplate)" e-placeholder="Additional Notes">{{ nameplate.other_notes || " " }} </a></div>
          </td>
          <!--<div class="alert alert-danger" role="alert"></div>-->
            <td><button ng-click="nc.deleteNameplate(nameplate.id)" class="btn btn-danger">X</button></td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>