<div class="row">
  <ul style="list-style: none">
    <li>
      <a href="#!home">Home<em> (text from nav.html)</em></a>  <!-- TODO: 1st clientJS/.when function -->
    </li>
    <li>
      <a href="#!login">LogIn<em> (text from nav.html)</em></a>  <!-- TODO: 2nd clientJS/.when function -->
    </li>
    <li>
      <a href="#!mainpage">Main Page<em> (text from nav.html)</em></a>  <!-- TODO: 2nd clientJS/.when function -->
    </li>
    <li>
      <a href="#!angjslessons">AngJS-Object-Array-Lessons<em> (text from nav.html)</em></a>  <!-- TODO: 3rd clientJS/.when function -->
    </li>
  </ul>

</div>
