<div ng-controller="SystemListController as slc">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">System List</h3></div>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <!--<form id="systemListForm" class="form-inline">-->
          <!--<form id="systemListForm" class="editable-wrap">-->
          <form id="systemListForm" class="editable-container">
            <td><input ng-model="slc.newSystemList.system" class="form-control" placeholder="New System"></td>
            <td><input ng-model="slc.newSystemList.parent_system" class="form-control" placeholder="Parent System"></td>
            <td><button ng-click="slc.addSystemList()" type="submit" class="btn btn-info">Add a New System</button></td>
          </form>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="systemlist in slc.systemListArrayList.list">
          <td>
            <div>
              <a href="#" editable-text="systemlist.system" onaftersave="slc.editSystemList(systemlist)" e-placeholder="New System List Title">{{ systemlist.system || " " }}</a>
            <a href="#" editable-text="systemlist.parent_system" onaftersave="slc.editSystemList(systemlist)" e-placeholder=" New Parent System ">{{ systemlist.parent_system || " " }}</a>
            </div>
          </td>
          <td>
            <!--<div><a href="#" editable-text="systemlist.parent_system" onaftersave="slc.editSystemList(systemlist)" e-placeholder=" New Parent System ">{{ systemlist.parent_system || " " }}</a></div>-->
          </td>
          <td><a href="#" class="btn btn-sm btn-info"><span class="list-alt"></span>Edit</a><button ng-click="slc.deleteSystemList(systemlist.id)" class="btn-s btn-danger">x</button></td>
          <!--<td><button ng-click="slc.deleteSystemList(systemlist.id)" class="btn-s btn-danger">x</button></td>-->
        </tr>
      </tbody>
    </table>
  </div>
</div>