<div ng-controller="SystemListController as slc">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">System List</h3></div>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr id="tableSystemList" ng-repeat="systemlist in slc.systemListArrayList.list">
          <td>
            <div>
              <br>
              <a ng-href="#">{{ systemlist.system }}</a> <!--NOTE: Minimum required code with SystemList as link-->
              <!--<a ng-href="#">PracticeLink</a>-->
              <br>
              <button ng-click="slc.editSystem(systemList.system)" class="btn btn-success btn-sm">Edit</button>
              <!--<a href="#" editable-text="systemlist.system" onaftersave="slc.editSystemList(systemlist)" e-placeholder="Edit">{{ systemlist.system || " " }}</a>-->
             <button ng-click="slc.deleteSystemList(systemlist.id)" class="btn btn-danger btn-sm">x</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>