<div ng-controller="UserNotesController as unc">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">User Notes</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Additional Notes you wish to enter</th>
                </tr>
                <tr>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <form id="userNotesForm" class="form-inline">
                      <td><input ng-model="unc.newUserNotes.date" class="form-control" placeholder="Date"></td>
                      <td><input ng-model="unc.newUserNotes.usernotes" class="form-control" placeholder="User Notes"></td>
                        <td><button ng-click="unc.addusernotes(usernotes)" type="submit" class="btn btn-primary">Add your own user notes</button></td>
                      </tr>
                      <!-- NOTE: .addNameplate tied with controller.js AND factory.js -->
                      <!-- NOTE: .nameplateData tied with routes.js -->
                    </form>
                  </div>

              </thead>
              <tbody>
                <!--REPEAT-->
                <tr ng-repeat="usernotes in unc.usernotesArrayList.list">
                  <!--This is the line of code Kris helped with-->
                  <!--'Submit via onaftersave located https://vitalets.github.io/angular-xeditable/#editable-form-->
                  <td>
                    <div> <a href="#" editable-text="usernotes.date" onaftersave="unc.editUsernotes(usernotes)" e-placeholder="Date_Year-Month-Day">{{ usernotes.date || " " }} </a></div>
                  </td>
                  <td>
                    <div> <a href="#" editable-text="usernotes.usernotes" onaftersave="unc.editUsernotes(usernotes)" e-placeholder="User Notes">{{ usernotes.usernotes || " " }} </a></div>
                  </td>
                  <td><button ng-click="unc.deleteUsernotes(usernotes.id)" class="btn btn-danger">X</button></td>
                  <!-- NOTE: Delete button point to controller.js functions -->
                </tr>
              </tbody>
            </table>
          </div>
</div>